@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-background {
    background-image: radial-gradient(circle, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    from { background-position: 0 0; }
    to { background-position: 100px 100px; }
  }
}