---
import Layout from '../layouts/Layout.astro';
import { Frontmatter } from '../types';
import { MarkdownInstance } from 'astro';
const { frontmatter, compiledContent } = await import('./services.md');
---
<Layout title={frontmatter.title}>
  <div class="prose max-w-none">
    <Fragment set:html={compiledContent()} />
  </div>
</Layout>
