/* Error: $color: var(--primary-color) is not a color.
 *    ,
 * 48 |   background-color: darken(var(--primary-color), 10%);
 *    |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets/main.scss 48:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: var(--primary-color) is not a color.\a    \2577 \a 48 \2502    background-color: darken(var(--primary-color), 10%);\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets/main.scss 48:21  root stylesheet";
}
