<section class="py-10">
  <div class="mx-auto flex max-w-6xl items-center justify-center gap-10 opacity-75">
    <img src="/logos/acme.svg" alt="Acme" class="h-8" />
    <img src="/logos/foocorp.svg" alt="Foocorp" class="h-8" />
    <img src="/logos/megacorp.svg" alt="Megacorp" class="h-8" />
    <img src="/logos/startup.svg" alt="Startup" class="h-8" />
    <img src="/logos/enterprisely.svg" alt="Enterprisely" class="h-8" />
  </div>
</section> 