<section class="py-10">
  <div class="mx-auto flex max-w-6xl items-center justify-center gap-10 opacity-80">
    <img src="/logos/acme.svg" class="h-8 grayscale hover:grayscale-0" alt="Acme" />
    <img src="/logos/foocorp.svg" class="h-8 grayscale hover:grayscale-0" alt="Foocorp" />
    <img src="/logos/megacorp.svg" class="h-8 grayscale hover:grayscale-0" alt="Megacorp" />
    <img src="/logos/startup.svg" class="h-8 grayscale hover:grayscale-0" alt="Startup" />
    <img src="/logos/enterprisely.svg" class="h-8 grayscale hover:grayscale-0" alt="Enterprisely" />
  </div>
</section> 